:root {

    /* Defining the CSS variables. */
    --text-color-titles: #040C17;
    --text-color-paragraph: #3D494F;
    --bg-color-paragraph: #E8C40F;
    --bg-color-titles: #F6B741;
    --text-color-optional: #14263D;
    --bg-color-optional: #E8C40F;

    /* Defining two CSS variables. */
    --title-font-size: 24px;
    --paragraph-font-size: 18px;
}

/* Loading a font from the assets folder. */
@font-face {
    src: url(/assets/imagens/Deep\ Shadow.ttf);
    font-family: 'Raleway-Regular';
    font-weight: normal;
}

/* reset document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Removing the bullets from all lists. */

* ul {
    list-style: none;
}

/* Setting the width of the html and body to 100% */
html,
body {
    width: 100%;
}

/* The CSS code for the header. */

header img {
    width: 30px;
}

.header {
    width: 100%;
    background-color: var(--bg-color-titles);
    display: flexbox;

}

.idiomas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 250px;
    margin: 0 auto;
    padding: 2%;
}

.idiomas a:hover {
    transform: scale(1.5);
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
    margin: 0 auto;
}

.contato a {
    text-align: center;
    color: var(--text-color-optional);
    text-decoration: none;
    font-size: var(--title-font-size);
    padding: 2%;
}

.contato a:hover {
    color: white;
    text-decoration: underline;

}

.midiasSociais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 300px;
    margin: 0 auto;
    padding: 2%;
}

#midia {
    color: var(--text-color-titles);
    font-size: var(--title-font-size);

}

#midia:hover {
    color: var(--text-color-optional);
    transform: scale(1.5);
}

/* Creating a banner that is fixed to the top of the page. */

.banner {
    font-size: 20px;
    color: var(--text-color-paragraph);
    display: flex;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color-titles);
}

.banner h1 {
    font-family: 'Raleway-Regular';
    padding-left: 20px;
}

.banner button {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.banner img {
    background-color: #666;
    width: 150px;
    border: solid 5px var(--bg-color-titles);
}

/* The above code is creating a menu that is hidden by default. When the user clicks on the button,
    the menu will appear. */

.menuModal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
    background-color: rgba(95, 95, 95, 0.541);
    backdrop-filter: blur(150px);
    width: 40%;
    text-align: center;
    height: 100%;
    z-index: 1000;

}

.menuModal li {
    letter-spacing: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 100px;
    padding-top: 20px;
}

.menuModal a {
    font-weight: bold;
    text-decoration: solid;
    color: var(--text-color-titles);
    text-decoration: none;
    font-size: var(--paragraph-font-size);
    padding-top: 15px;
}

.menuModal a:hover {

    color: var(--bg-color-titles);
}

#btn-open {
    position: absolute;
    left: 30px;
    top: 30px;
    scale: 3;
    width: 20px;
    color: var(--text-color-optional);
    background-color: var(--bg-color-titles);
    border: none;
    cursor: pointer;
    justify-content: center;
}

#btn-close {
    position: fixed;
    left: 30px;
    top: 30px;
    width: 20px;
    color: var(--text-color-optional);
    background-color: var(--bg-color-titles);
    border: none;
    cursor: pointer;
    justify-content: center;
    scale: 0;
    z-index: 1001;
}

/* The CSS code for the form. */

main {
    background-color: #14263D;
}
#form {
    width: 500px;
    max-width: 80%;
    margin: 0 auto ;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h1 {
    color: #666;
    font-size: 36px;
    padding: 20px;
}
label {
    color: #666;
    font-size: 28px;
}

input {
    font-size: 26px;
    text-align: center;

}
textarea{
    resize: vertical;
}

.btn-submit {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFAE00;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 300;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn-submit:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
/* Settings footer*/

footer {
    margin: 0 auto;
    background-color: var(--text-color-paragraph);
}

.container-categorias {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-categorias li {
    width: 100%;
    padding: 10px;
    text-align: left;
}

.container-categorias a {
    font-size: var(--paragraph-font-size);
    color: white;
    text-decoration: none;
}

.container-categorias a:hover {
    color: var(--bg-color-titles);
    text-decoration: overline underline;

}

.categ1,
.categ2,
.categ3 {
    width: 30%;

}

.categ1,
.categ2 {
    border-right: solid;
}

.h1footer {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 3rem;
    color: var(--bg-color-titles);
}

.servicosfooter {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.servicosfooter li {
    padding: 10px;
    padding-bottom: 20px;
    text-align: left;
    word-break: break-all;
    justify-content: center;
}

.servicosfooter a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin: auto;
}

.servicosfooter a:hover {
    color: var(--bg-color-titles);
    text-decoration: none;
}

.svs1 {
    border-right: solid;
}

.svs1,
.svs2 {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 48%;
}

hr {
    margin-top: 20px;
}

/* The CSS code for the footer. */

.container-contatos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

}

.container-contatos p {
    margin-bottom: 10px;
}

.contato li a,
p {
    color: white;
    font-size: var(--paragraph-font-size);
}

footer h2 {
    color: white;
    font-size: 30px;
}

#midiafooter {
    color: white;
    font-size: 2rem;
    padding-left: 10px;
}

#midiafooter:hover {
    color: #090907;
    font-size: 2rem;
    padding-left: 10px;
}

.horario {
    text-align: center;
    font-size: 3rem;
    color: var(--bg-color-titles);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* The CSS code for the header. */

    header img {
        width: 30px;
    }

    .header {
        width: 100%;
        display: flexbox;
        flex-direction: column;
    }

    .contato {
        display: flex;
        flex-direction: column;
    }

    .contato a {
        font-size: medium;
    }


    /* Creating a banner that is fixed to the top of the page. */

    .banner {
        font-size: small;
    }

    .banner h1 {
        font-family: 'Raleway-Regular';
        padding-left: 20px;
    }

    .banner img {
        width: 100px;
    }

    /* The above code is creating a menu that is hidden by default. When the user clicks on the button,
    the menu will appear. */

    .menuModal {
        width: 100%;
    }

    .menuModal li {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    /* Creating a container for the products and the images. */

    .container-produtos {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 98%;
        margin: 0 auto;
        gap: 1%;

    }

    .caldeiras,
    .gruas,
    .maquinascabos,
    .maquinastecidos,
    .emBreve
     {
        width: 98%;
        text-align: center;
    }

    .caldeiras a,
    .gruas a,
    .maquinascabos a,
    .maquinastecidos a, 
    .emBreve a{
        font-size: 20px;
    }

    /* Creating a container for the services section. */
    .servicos {
        display: flex;
        flex-direction: column;
    }

    .reformas,
    .laudos,
    .rotores,
    .montagens {

        padding-top: 10px;
        width: 98%;
    }

    .reformas a,
    .laudos a,
    .rotores a,
    .montagens a {
        padding-top: 10px;
    }


    /* The CSS code for the "About" section. */
    .sobre {
        text-align: center;
        padding-top: 10px;
        font-size: 22px;
    }

    /* The above code is creating a blog page with 3 posts. */
    .container-blog {
        display: flex;
        flex-direction: column;
    }

    .post1,
    .post2,
    .post3 {
        width: 98%;
    }

    /* Settings footer*/

    .container-categorias {
        display: flex;
        flex-direction: column;
    }

    .categ1,
    .categ2,
    .categ3 {
        width: 98%;

    }

    .categ1 li,
    .categ2 li,
    .categ3 li
        {
            text-align: center;
    }

    .categ1,
    .categ2 {
        border: none;
    }

    .servicosfooter {
        flex-direction: column;
    }

    .servicosfooter li {
        text-align: center;
    }

    .servicosfooter a {
        font-size: 20px;
    }

    .svs1 {
        border: none;
    }

    .svs1,
    .svs2 {
        width: 98%;
    }
}