* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}


header img {
    width: 30px;
}

.header {
    width: 100%;
    background-color: #424243;
    display: flexbox;

}


.idiomas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 250px;
    margin: 0 auto;
    padding: 2% ;
}

.idiomas a:hover {
    transform: scale(1.5);
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
    margin: 0 auto;
  
}

.contato a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;  
    padding: 2%;
}

.contato a:hover {
    color: #FCD900;
    text-decoration: underline;
}

.midiasSociais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 300px;
    margin: 0 auto;
    padding: 2%;
}

#midia {
    color: #FCD900;
    font-size: 2rem;

}

#midia:hover {
    color: white;
    font-size: 2rem;
    transform: scale(1.5);

}


/* menu fixo */

@font-face {
    src: url(/assets/imagens/Deep\ Shadow.ttf);
    font-family: 'Raleway-Regular';
    font-weight: normal;
}

.menuFixo {
    font-family: Raleway-Regular;
    font-size: 2rem;
    color: #FCD900;
    display: flex;
    margin: 0 2%;
    padding: 3%;
    justify-content: space-between;
}

nav {
    background-image: url(/assets/imagens/fundo-abstrato-preto-e-amarelo-grunge_1017-26684.webp);
    background-size: cover;
}

.menuFixo button {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.menuFixo img {
    background-color: #FCD900;
    width: 200px;
    border: solid 5px #424243;
}

/* menu modal */
.menuModal {
    display: none;
}

/* produtos */
.h1produtos {
    text-align: center;
    font-size: 3rem;
    padding: 5%;
}

.h1produtos h1 {
    margin: 5px auto;
    color: #FCD900 ;
    text-align: center;
    justify-content: center;
}

.container-produtos {
    color:white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin:  0 auto;
    gap: 1%;
   
}

.caldeiras {
    width: 23%;
    background-color: #424243;
}

.caldeiras a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.gruas {
    width: 23%;
    background-color: #424243;
}

.gruas a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.maquinascabos {
    width: 23%;
    background-color: #424243;
}

.maquinascabos a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.maquinastecidos {
    width: 23%;
    background-color: #424243;
}

.maquinastecidos a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.2rem;

}

/* Serviços */

.container-serviços {
    background-color: #ECECEC;
    margin-top: 30px;
}
.servicos {
    gap: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.serviços h1 {
    color: rgb(107, 104, 104);
    font-size: 3rem;
    padding: 5%;
    text-align: center;
}

.container-serviços {
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: auto;
    padding-bottom: 90px;
}

.serviçoh1 {
    text-decoration: none;
    font-size: 3rem;    
    color: black;
    text-align: center;
    margin: 30px auto;
}
.reformas,
.laudos,
.rotores,
.montagens {
    width: 25%;
}

.reformas a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.2rem;
}

.laudos a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.2rem;
}


.rotores a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.2rem;
}


.montagens a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.2rem;
}

/* Sobre */

.sobre {
    padding-bottom: 50px;
    background-color: #424243;
    text-align: justify;
}

.sobre h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 5px solid #FCD900;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.sobre p {
    margin: 0 auto;
    text-align: justify;
    word-wrap: break-word;
    color: #FFFFFF;
    padding-top: 30px;
    font-size: 2rem;
    width: 80%;
}

/* BLOG */

.blog h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-blog {
    text-align: center;
    display: flex;
    gap: 1%;
    width: 100%;
}

.post1,
.post2,
.post3

{   
    color:white;
    word-wrap: break-word;
    width: 30%;
    font-size: 1.5rem;
    background-color: #424243cf;
    margin: 2%;
    padding: 5px;
}

.post1 h3,p ,
.post2 h3,p ,
.post3 h3,p 

{
margin-top:3%;
}

.post1 img {

    width: 100%;
    height: 150px;
}

.post2 img {
    width: 100%;
    height: 150px;
}

.post3 img {
    width: 100%;
    height: 150px;
}

/* Footer categorias */
footer {
    margin: 0 auto;
    margin-top: 60px;
    background-color: #424243;
}

.container-categorias {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

}
.container-categorias li {
    width: 100%;
    padding: 10px;
    text-align: center;
    word-break: keep-all;    
    
    
}
.container-categorias a {

    font-size: 1.5rem;
    color: #FFFFFF;
    text-decoration: none;  
}

.container-categorias a:hover {
    color: #FCD900;
    text-decoration: none;  
}
.categ1,
.categ2,
.categ3 {
    width: 30%;
    
}
.h1footer {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 3rem;
    color: #FCD900;
}
.servicosfooter {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.servicosfooter li {
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    word-break: break-all;   
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;  
}
.servicosfooter a {
    color: #FFFFFF;
    text-decoration: none;  
    font-size: 1.5rem;
    margin:auto;
}

.servicosfooter a:hover {
    color: #FCD900;
    text-decoration: none;  
}
.svs1,
.svs2 {
    justify-content: center;
    margin:0 auto;
    text-align: center;
    width: 48%;
    
}
/* container contatos footer */

.container-contatos

 {  
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

  }

  .contato li a, p {
    color:white;
    font-size:1.5rem ;
  }

  .horario {
    text-align: center;
    font-size: 3rem;
    color: #FCD900;
    margin-top:50px;
  }