* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}


header img {
    width: 30px;
}

.header {
    background-color: #424243;
    display: flexbox;

}


.idiomas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 150px;
    margin: 0 auto;
    padding: 2% 2%;
}

.idiomas a:hover {
    transform: scale(1.5);
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
    padding: 2% 2%;
}

.contato a {
    color: white;
    text-decoration: none;
}

.contato a:hover {
    color: #FCD900;
    text-decoration: underline;
}

.midiasSociais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 200px;
    margin: 0 auto;
    padding: 2%;
}

#midia {
    color: #FCD900;
    font-size: 30px;

}

#midia:hover {
    color: white;
    font-size: 30px;
    transform: scale(1.5);

}


/* menu fixo */

@font-face {
    src: url(/assets/imagens/Deep\ Shadow.ttf);
    font-family: 'Raleway-Regular';
    font-weight: normal;
}

.menuFixo {
    font-family: Raleway-Regular;
    color: #FCD900;
    display: flex;
    margin: 0 2%;
    padding: 3%;
    justify-content: space-between;
}

nav {
    background-image: url(/assets/imagens/fundo-abstrato-preto-e-amarelo-grunge_1017-26684.webp);
    background-size: cover;
}

.menuFixo button {
    width: 30px;
    height: 30px;
}

.menuFixo img {
    background-color: #FCD900;
    width: 100px;
    border: solid 5px #424243;
}

/* menu modal */
.menuModal {
    display: none;
}

/* produtos */
.h1produtos {
    text-align: center;
    grid-area: h1produtos;
}

.h1produtos h1 {
    margin: 5px auto;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 5%;
    text-align: center;
    justify-content: center;
}

.container-produtos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 1%;
    grid-auto-flow: row;
    grid-template-areas:
        "h1produtos h1produtos h1produtos h1produtos"
        "caldeiras gruas maquinascabos maquinastecidos";
}

.caldeiras {
    grid-area: caldeiras;
    background-color: #424243;
}

.caldeiras a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;
}

.gruas {
    grid-area: gruas;
    background-color: #424243;
}

.gruas a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;
}

.maquinascabos {
    grid-area: maquinascabos;
    background-color: #424243;
}

.maquinascabos a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;
}

.maquinastecidos {
    grid-area: maquinastecidos;
    background-color: #424243;
}

.maquinastecidos a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 12px;

}

/* Serviços */

.container-serviços {
    background-color: #ECECEC;
    margin-top: 60px;
}

.serviços h1 {
    color: rgb(107, 104, 104);
    font-size: 40px;
    padding: 5%;
    text-align: center;
}

.container-serviços {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 1% 1%;
    grid-auto-flow: row;
    grid-template-areas:
        "serviçosh1 serviçosh1 serviçosh1 serviçosh1"
        "reformas laudos rotores montagens";
    height: 300px;
    padding-bottom: 90px;
}

.h1-serviços {
    grid-area: serviçosh1;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 30px auto;
}

.reformas {
    grid-area: reformas;
}

.reformas a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 12px;
}


.laudos {
    grid-area: laudos;
}

.laudos a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 12px;
}

.rotores {
    grid-area: rotores;
}

.rotores a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 12px;
}

.montagens {
    grid-area: montagens;
}

.montagens a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 12px;
}

/* Sobre */

.sobre {
    padding-left: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #424243;
    text-align: justify;
}

.sobre h1 {
    border-bottom: 5px solid #FCD900;
    width: 250px;
    font-size: 40px;
    color: white;
}

.sobre p {
    word-wrap: break-word;
    color: #FFFFFF;
    padding-top: 10px;
    font-size: 20px;
    width: 300px;
}

/* BLOG */

.container-blog{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr;
    grid-auto-columns: auto;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "post1 post2 post3";
        border: solid;
}

.post1 {
    grid-area: post1;
}

.post2 {
    grid-area: post2;
}

.post3 {
    grid-area: post3;
}